.app-header {
  padding-top: 24px;
  text-align: center;
}

.app {
  padding-bottom: 4em;
}

#root {
  background-color: #e7edf1;
  min-height: 100%;
  position: relative;
}

.subtitle {
  font-size: 18px;
}

.download {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  text-align: center;
  background-color: #59a558;
  padding: 9px;
}

.download-link {
  font-size: 28px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.explanation {
  width: 30%;
  font-size: 1.2rem;
}

.demo {
  width: 40%;
  max-width: 500px;
}

.demo-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 4em;
  text-align: center;
  width: 100%;
}

.footer a {
  text-decoration: none;
  color: #162127;
}
